LenguajeDeMarcas/kings_league_resultados_cada_jornada.dtd

<!ELEMENT split (jornada+)>
<!ELEMENT jornada  (partido+)>
<!ELEMENT partido (fecha_partido, equipo+)>
<!ELEMENT equipo (nombre,logo,numero_goles,resultado) >
<!ELEMENT fecha_partido (#PCDATA)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT logo (#PCDATA)>
<!ELEMENT numero_goles (#PCDATA)>
<!ELEMENT resultado (#PCDATA)>


<!ATTLIST split id  ID #REQUIRED>
<!ATTLIST jornada id ID #REQUIRED>
<!ATTLIST partido id  ID #REQUIRED>
<!ATTLIST equipo id  ID #REQUIRED>


